body{
    background-color: rgb(69, 72, 75)!important;
    text-align: center;
}
h2{
    color: #fff!important;
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
}
h3{
    color: #fff!important;
    font-family: 'Indie Flower', cursive !important;
    font-size: 30px;
}

p, textarea{
    font-family: 'Indie Flower', cursive !important;
}

.content{
    width: 80%;
    height: 80%;
    position: absolute;
    top: 20%;
    left: 10%;
}

.body{
    padding: 10px;
}

.box{

    font-size: 25px !important;
    background-color: #fff;
    color: #000!important;
    margin: 10px;
    border-radius: 10px;
}

.head-to-do{
    background-color: #f57c00;
    border-radius: 10px 10px 0 0 ;
    padding: 5px;
    text-align: center;
}

.head-completed{
    background-color: #43a047;
    border-radius: 10px 10px 0 0 ;
    padding: 5px;
    text-align: center;
}

.btn-add{
    padding: 10px 30px!important;
    font-size: 30px!important;
}


